body {
  font-family: Arial, sans-serif;
  background-color: #202020;
  color: #dfdfdf;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0169d8f0;
  color: #ffffffd6;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0151a6;
}

.quote {
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #019fd8f0;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 250px;
  position: relative;
  padding: bottom 30px;
}

.delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.3);
}

.author {
  font-style: italic;
}

#favorite-btn {
  display: none;
}

.fa-regular {
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}
