body {
  font-family: Arial, sans-serif;
  background-color: #7a5036;
  color: #dfdfdf;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0169d8f0;
  color: #ffffffd6;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #0151a6;
}
