body {
  font-family: Arial, sans-serif;
  background-color: #202020;
  color: #dfdfdf;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0169d8f0;
  color: #ffffffd6;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0151a6;
}

.quote {
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.author {
  font-style: italic;
}
